nav {
  background-color: white;
  padding: 2rem 0 .75rem 0;

  img {
    opacity: .3;
    width: 8rem;
  }

  .left {
  }

  .center {
    padding: 4rem 0;

    li {
      cursor: pointer;
      display: inline;
      position: relative;

      h5 {
        display: inline;
      }

      &:not(:last-of-type) {
        margin-right: 1.5rem;
        padding-right: 1.5rem;

        &:not(:first-of-type):after {
          color: #C7C7C7;
          content: '.';
          font-size: 3rem;
          left: 100%;
          position: absolute;
          top: 0%;
          transform: translate(-50%, -50%);
        }

        &:first-of-type:after {
          color: #C7C7C7;
          content: '|';
          left: 100%;
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }

    ul {
      text-align: center;
    }
  }

  .right {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    text-align: right;

    img {
      margin-right: 2rem;
      width: 3rem;
    }
  }

  .active {
    font-weight: bold;
  }
}
